Repository hizenxyz/rcon-node: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,json,md}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "src/**/*.{ts,js}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    typecheck:
      run: npx tsc --noEmit
    test:
      run: npm test

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  commands:
    test:
      run: npm test
    build:
      run: npm run build

fix: package-lock
  package-lock.json
Due: format

0.1.0
  package-lock.json
  package.json
Due: format

fix: package name
  package.json
Due: format

fix: package name
  package-lock.json
Due: format

0.2.0
  package-lock.json
  package.json
Due: format

fix: add write perms to release
  .github/workflows/release.yml
Due: none

0.2.1
  package-lock.json
  package.json
Due: format

docs: update package name in readme
  README.md
Due: format

chore: add .cursorrules
  .cursorrules
Due: none

chore: update AGENTS with more parallel instructions
  AGENTS.md
Due: format

fix: agents file
  AGENTS.md
Due: format

feat: add packet encode/decode
  src/packet.ts
  tests/packet.test.ts
Due: format

feat: add RCON client
  src/index.ts
  src/rcon.ts
  tests/rcon.test.ts
Due: format

feat: add isAuth helper and tests
  src/helpers.ts
  src/index.ts
  tests/helpers.test.ts
Due: format

test: add rcon integration test and docs
  README.md
  tests/integration/rcon.integration.test.ts
Due: format

chore: add test:integration script and fix test warning
  README.md
  package.json
Due: format

fix: integration test setup, timeouts, environment
  package-lock.json
  package.json
  src/helpers.ts
  src/rcon.ts
  tests/integration/rcon.integration.test.ts
  tests/setup.ts
  vitest.config.ts
Due: format

fix: exclude integration test in lefthook commit
  lefthook.yml
  package.json
Due: format

fix: remove dumb things, use ws, test integration passing for rust
  package-lock.json
  package.json
  src/helpers.ts
  src/index.ts
  src/packet.ts
  src/rcon.ts
  tests/helpers.test.ts
  tests/integration/rcon.integration.test.ts
  tests/packet.test.ts
  tests/rcon.test.ts
Due: format

0.3.0
  package-lock.json
  package.json
Due: format

feat: wss support
  README.md
  src/rcon.ts
  tests/integration/rcon.integration.test.ts
Due: format

feat: support for minecraft, interface remaining games
  README.md
  src/clients/ark-survival-evolved.client.ts
  src/clients/arma-reforger.client.ts
  src/clients/base.client.ts
  src/clients/dayz.client.ts
  src/clients/minecraft.client.ts
  src/clients/palworld.client.ts
  src/clients/rust.client.ts
  src/clients/scum.client.ts
  src/clients/seven-days-to-die.client.ts
  src/clients/valheim.client.ts
  src/game.ts
  src/index.ts
  src/rcon.ts
  tests/integration/rcon.integration.test.ts
Due: format, lint

chore: export packet consts
  src/clients/minecraft.client.ts
  src/utils/packet.ts
Due: format, lint

feat: add Ark client
  src/clients/ark-survival-evolved.client.ts
Due: format, lint

feat(7dtd): add telnet client
  src/clients/seven-days-to-die.client.ts
  src/utils/seven-days-to-die.utils.ts
Due: format, lint

fix: integration test
  src/clients/seven-days-to-die.client.ts
  tests/integration/rcon.integration.test.ts
Due: format, lint

docs: update README, cleanup supported games + check 7 days support
  README.md
Due: format

docs: update README with game values for integration testing
  README.md
Due: format

feat: implement Arma Reforger client
  src/clients/arma-reforger.client.ts
  src/utils/arma-reforger.utils.ts
Due: format, lint

Update README.md
  README.md
Due: format

feat: arma rewrite / support. talk about a headache
  package-lock.json
  package.json
  src/clients/arma-reforger.client.ts
  src/utils/arma-reforger.utils.ts
  tests/integration/rcon.integration.test.ts
Due: format, lint

docs: add arma to readme and document my frustration with npm run ci vs npm ci
  README.md
Due: format

docs: update README add USAGE
  README.md
  USAGE.md
Due: format

docs: update README note
  README.md
Due: format

docs: update game status section
  README.md
Due: format

test: ark integration test
  tests/integration/rcon.integration.test.ts
Due: format

refactor: auth flow
  src/clients/ark-survival-evolved.client.ts
  src/clients/base.client.ts
  src/clients/seven-days-to-die.client.ts
  src/rcon.ts
  tests/integration/rcon.integration.test.ts
Due: format, lint

docs: update README order
  README.md
Due: format

feat(dayz): add battleye rcon client
  src/clients/dayz.client.ts
  src/utils/dayz.utils.ts
Due: format, lint

fix: support for DayZ (matches arma reforger), and testAuthentications
  src/clients/ark-survival-evolved.client.ts
  src/clients/dayz.client.ts
  src/clients/seven-days-to-die.client.ts
  src/rcon.ts
  src/utils/dayz.utils.ts
Due: format, lint
